.footer {
	background: $darkCyan;
	padding: 0 15px;
	padding-top: 165px;
	color: $paleCyan;
	font-family: $open;
	&__img {
		margin-bottom: 32px;
	}

	&__listContain1 {
		margin-bottom: 60px;
	}

	&__listContain3 {
		margin-bottom: 60px;
	}

	&__listContain4 {
		margin-bottom: 30px;
	}

	&__ul {
		list-style: none;
		position: relative;

		&__li {
			margin-left: 40px;
			margin-bottom: 32px;
		}
	}

	&__li {
		margin-bottom: 32px;
	}

	&__icon {
		position: absolute;
		&:hover {
			color: $pink;
		}
	}

	&__social {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 0 60px;
	}

	&__socialIcon {
		border: 1px solid $white;
		padding: 10px;
		line-height: 0;
		font-size: 25px;
		border-radius: 50%;
		height: 38px;
		width: 38px;
		text-align: center;
		transition: 0.2s ease;
		&:hover {
			background: $paleCyan;
			color: $darkCyan;
		}
		a {
			color: $paleCyan;
			transition: 0.2s ease;
			&:hover {
				color: $darkCyan;
			}
		}
	}

	&__copyright {
		text-align: center;
	}

	@media screen and (min-width: 1000px) {
		padding: 0 120px;
		padding-top: 165px;
		&__listContain1 {
			width: 370px;
			margin-right: 145px;
		}

		&__listContain2 {
			margin-right: 170px;
		}

		&__listContain3 {
			margin-right: 170px;
		}

		&__socialIcon {
			margin-right: 20px;
		}

		&__pages {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__li {
			font-size: 11.5px;
			width: 55px;
		}

		&__ult {
			margin-top: 55px;
		}

		&__copyright {
			text-align: right;
		}

		&__ul {
			width: auto;
			&__li {
				font-size: 12px;
			}
		}
	}
}
